<!DOCTYPE HTML>
<html>
<head>
    <title>회원 가입 폼</title>
</head>
<body>
<div class="container">
    <form id="memberForm">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" id="email" placeholder="이메일을 입력하세요">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" placeholder="비밀번호를 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div>

<script src="/createMemberForm.js"></script>
</body>
</html>