<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .form-group {
            display: inline-block;
            margin-right: 10px;
        }
        .edit-icon {
            cursor: pointer;
            margin-left: 5px;
        }
        .editForm {
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <h1># plans</h1> <!-- 추가된 제목 -->
        <!-- 각 행을 별도의 div로 분리 -->
        <div th:each="plan, planStat : ${plans}">
            <div class="plan-row">
                <!-- Checkbox -->
                <input type="checkbox" class="planCheckbox" th:checked="${plan.isContinue != null && !plan.isContinue}"
                       th:data-plan-id="${plan.id}">
                <!-- Plan content -->
                <div class="plan-isContinue" th:text="${plan.isContinue}" style="display: inline-block;"></div>
                <!-- Plan ID -->
                <div class="plan-id" th:text="${plan.id}" style="display: inline-block;"></div>
                <!-- Plan content -->
                <div class="plan-content" th:text="${plan.content}" style="display: inline-block;"></div>
                <!-- Plan type -->
                <div class="plan-type" th:text="${plan.type}" style="display: inline-block;"></div>
                <!-- Plan member name -->
                <div class="plan-member-name" th:text="${plan.member.name}" style="display: inline-block;"></div>
                <!-- Edit icon -->
                <span class="edit-icon" th:onclick="'editPlan(event, \'' + ${plan.id} + '\')'">&#9998;</span>
                <!-- Delete icon -->
                <span class="delete-icon" th:onclick="'deletePlan(event, \'' + ${plan.id} + '\')'">&#10006;</span>
                <!-- Edit form -->
                <div class="editForm" th:id="'editForm_' + ${plan.id}">
                    <form th:id="'editPlanForm_' + ${plan.id}">
                        <div class="form-group">
                            <label for="editContent">content</label>
                            <input type="text" id="editContent" name="content" placeholder="내용 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="editType">타입</label>
                            <input type="text" id="editType" name="type" placeholder="타입을 입력하세요">
                        </div>
                        <!-- Hidden field for planId -->
                        <input type="hidden" th:id="'editPlanId_' + ${plan.id}" th:name="'id_' + ${plan.id}" th:value="${plan.id}">
                        <button type="button" th:onclick="'submitEditPlan(\'' + ${plan.id} + '\')'">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form id="planForm">
        <div class="form-group">
            <label for="content">content</label>
            <input type="text" id="content" name="content" placeholder="내용 입력하세요">
        </div>
        <div class="form-group">
            <label for="type">타입</label>
            <input type="text" id="type" name="type" placeholder="타입을 입력하세요">
        </div>
        <button type="submit" onclick="submitPlan(event)">등록</button>
    </form>
</div> <!-- /container -->
<script>
    // edit form 표출
    function editPlan(event, id) {
        event.preventDefault();
        var row = event.target.closest('.plan-row');
        var editForm = row.querySelector('.editForm');
        var editFormId = 'editPlanForm_' + id;
        if (editForm) {
            // Hide other edit forms
            document.querySelectorAll('.editForm').forEach(form => {
                form.style.display = 'none';
            });
            // Show edit form for this row
            editForm.style.display = 'block';
            // Set edit form ID
            var editPlanIdElement = editForm.querySelector('input[name^="id_"]');
            if (editPlanIdElement) {
                editPlanIdElement.value = id;
                // Get content and type from the row
                var content = row.querySelector('.plan-content').textContent.trim();
                var type = row.querySelector('.plan-type').textContent.trim();
                // Set content and type in the edit form
                editForm.querySelector('#editContent').value = content;
                editForm.querySelector('#editType').value = type;
            } else {
                console.error('editPlanId 요소를 찾을 수 없습니다.');
            }
        } else {
            console.error("Edit form not found");
        }
    }

    // edit form update
    function submitEditPlan(planId) {
        var editFormId = 'editPlanForm_' + planId;
        var content = document.querySelector('#' + editFormId + ' #editContent').value;
        var type = document.querySelector('#' + editFormId + ' #editType').value;
        var planTypeMapping = {
            "TODO": 0,
            "WEEKLY": 1,
            "COUNT": 2
        };
        // Get the checkbox element for this plan
        var planCheckbox = document.querySelector('input[data-plan-id="' + planId + '"]');
        if (planCheckbox) {
            var isContinue = !planCheckbox.checked; // Invert the checked status of the checkbox
        } else {
            console.error('Checkbox element not found.');
        }

        var formData = {
            id: planId,
            content: content,
            type: type,
            isContinue: isContinue
        };
        if(true){
            console.log(formData)
        }

        fetch('/plans/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (response.redirected) {
                    console.log('Plan updated successfully.');
                    window.location.href = response.url;
                } else {
                    console.error('Error updating plan:', response.status);
                }
            })
            .catch(error => {
                console.error('Error updating plan:', error);
            });
    }

    // checkbox update
    document.querySelectorAll(".planCheckbox").forEach(function (checkbox) {
        checkbox.addEventListener("change", function (event) {
            event.preventDefault();
            var row = event.target.closest('.plan-row');

            var planId = event.target.getAttribute("data-plan-id");
            var content = row.querySelector('.plan-content').textContent.trim();
            var type = row.querySelector('.plan-type').textContent.trim();
            var planTypeMapping = {
                "TODO": 0,
                "WEEKLY": 1,
                "COUNT": 2
            };
            var isChecked = event.target.checked;

            var formData = {
                id: planId,
                content: content,
                type: type,
                isContinue: !isChecked
            };

            fetch('/plans/update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
                .then(response => {
                    if (response.redirected) {
                        console.log('Plan updated successfully.');
                        window.location.href = response.url;
                    } else {
                        console.error('Error updating plan:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Error updating plan:', error);
                });
        });
    });

    // 새로운 form 제출
    function submitPlan(event) {
        event.preventDefault();

        var content = document.getElementById('content').value;
        var type = document.getElementById('type').value;

        var formData = {
            content: content,
            type: type
        };

        fetch('/plans/new', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                // 응답 처리
                if (response.redirected) {
                    window.location.href = response.url; // 리다이렉트 수행
                } else {
                    // 리다이렉트가 아닌 경우에 대한 처리
                    console.log(response);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    // form 삭제
    function deletePlan(event, id) {
        event.preventDefault();
        var confirmation = confirm("Are you sure you want to delete this plan?");
        if (confirmation) {
            fetch('/plans/delete/' + id, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.redirected) {
                        console.log('Plan deleted successfully.');
                        window.location.href = response.url;
                    } else {
                        console.error('Error deleting plan:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Error deleting plan:', error);
                });
        }
    }
</script>
</body>
</html>
